operators

In [2]:
a =20
b =10
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

30
10
200
2.0

In [4]:
a=5
b=2
a//b
a%b
a**b
print(a//b)
print(a%b)
print(a**b)

2
1
25

### Assignment operators:
- =,+=,/=,%=,*=

In [8]:
a=11
a-=10# a=a-10
a

1

### comparision
- ==,<=,>=,!=

In [9]:
10==20

False

In [10]:
10!=20

True

In [11]:
10>=20

False

In [13]:
a=20
b=45
a>=b
a<=b
print(a>=b)
print(a<=b)

False
True

### 4. logical :
  - and,or ,not

In [14]:
a and b

45

In [18]:
a = True
b = False
a or b
a and b
print(a or b)
print(a and b)

True
False

In [19]:
a =False 
b =True
a or b
a and b
print(a or b)
print(a and b)

True
False

### Bitwise operators
 - &,|,^,<<,>>

In [20]:
bin(10)

'0b1010'

In [21]:
bin(1000)

'0b1111101000'

In [22]:
a = 10
b = 20
a&b

0

In [23]:
a|b

30

In [24]:
a^b

30

In [25]:
a>>b

0

In [26]:
a<<b

10485760

### Identity
 - is,is not

In [28]:
a = 10
b = 20
a is b

False

In [29]:
a =10
b =10
a is not b

False

### Membership operators
 - in,not in

In [30]:
s = 'hello'
'h'not in s

False

In [31]:
'e' in s

True

In [35]:
a = int(input('enter value :'))
a

enter value :45

45

### Typecasting
- converting one data type to another datatype

In [37]:
a = 12.5
int(a)

12

In [38]:
a = 12.5
str(a)

'12.5'

In [39]:
print('hello world')

hello world

In [44]:
a = 10;b =20

In [45]:
a,b=10,20

In [3]:
a =int(input('enter a value'))
b =int(input('enter b value'))
print('adittion of  is :%d',(a+b))

enter a value10
enter b value10
adittion of  is :%d 20

In [51]:
a ='80'
b ='25'
# output is : 105

In [1]:
a ='80'
b ='25'
# output is :105
a=int(a)
b=int(b)
print(a+b)

105

In [13]:
str1 = 'APSSDC '
Str2 = 'and'
str3 = ' RVRJC'
str1 + str2 + str3

'APSSDC RVRJC RVRJC'

### conditional excuetion
-if,if else,if..elif..else,for,while,break,continue

In [ ]:
# syntax :
# if condition :
     # statements
# else :
     # statements

In [14]:
n = int(input('enter one number'))
if n%2==0:
    print('even number:')
else:
    print('odd number')

enter one number5
odd number

In [16]:
num1 = int(input('enter num1:'))
num2 = int(input('enter num2:'))
if num1>num2:
    print('num1 is big number')
else: 
    print('num2 is big number')

enter num1:5
enter num2:7
num2 is big number

In [18]:
num1=int(input('enter num1'))
num2=int(input('enter num2'))
num3=int(input('enter num3'))
if num1>num2 & num1>num3:
     print('num1 is big number')
elif num2>num3:
    print('num2 is big number')
else:
    print('num3 is big number')

enter num145
enter num2455
enter num34555
num3 is big number

In [19]:
###  marks > 90 and marks <=100 -A grade
# marks 70 to 90 -B grade
# marks 445 to 69 -c grade
# marks 0 to 44 -fail
# marks<0 or marks>100 -invalid marks

In [9]:
marks = int(input('enter the marks'))
if marks<=100 & marks>90:
    print('a grade')
elif marks<=90 & marks>=70:
    print('b grade')
elif marks<70 & marks>44:
    print('c grade')
elif marks>=0 & marks<45:
    print('fail')
else:
    print('invalid')

enter the marks45
fail